<div class="public">
  <div class="post-list">
    <div class="row">
      <div class="col-sm-6 col-lg-6 post-list-item" *ngFor="let post of posts$ | async">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/540x300/2b48ba/fff.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text" [innerHTML]="post?.body"></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ post.author }}</li>
          </ul>
          <div class="card-body">
            <button
                routerLink="/posts/{{ post._id }}"
                type="button"
                class="btn btn-primary"
            >
              mehr Lesen
            </button>
            <button *ngIf="isSignedIn"
                routerLink="/posts/{{ post._id }}"
                [queryParams]="{ state: 'edit'}"
                type="button"
                class="btn btn-warning"
            >
              Bearbeiten
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
