<div class="post-table-list">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="tblist-author cp" (click)="sort('author')">
          <span *ngIf="sortKey === '-author'"
              class="glyphicon glyphicon-chevron-up"
          ></span>
          <span *ngIf="sortKey === 'author'"
              class="glyphicon glyphicon-chevron-down"
          ></span>
          Author
        </th>
        <th class="tblist-title cp" (click)="sort('title')">
          <span *ngIf="sortKey === '-title'"
              class="glyphicon glyphicon-chevron-up"
          ></span>
          <span *ngIf="sortKey === 'title'"
              class="glyphicon glyphicon-chevron-down"
          ></span>
          Title
        </th>
        <th class="tblist-date cp" (click)="sort('updatedAt')">
          <span *ngIf="sortKey === '-updatedAt'"
              class="glyphicon glyphicon-chevron-up"
          ></span>
          <span *ngIf="sortKey === 'updatedAt'"
              class="glyphicon glyphicon-chevron-down"
          ></span>
          last edit
        </th>
        <th class="tblist-action text-right">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts$ | async">
        <td>{{ post.author }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.updatedAt }}</td>
        <td class="text-right">
          <span
              class="glyphicon glyphicon-search cp"
              aria-hidden="true"
              routerLink="/posts/{{ post._id }}"
          ></span>
          <span
              class="glyphicon glyphicon-pencil cp"
              aria-hidden="true"
              routerLink="/admin/posts/{{ post._id }}"
          ></span>
          <span
              class="glyphicon glyphicon-remove cp"
              aria-hidden="true"
              (click)="deletePost(post._id)"
          ></span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row post-buttons">
    <button
        type="button"
        class="btn btn-primary"
        routerLink="/admin/posts/new"
    >
      Neuen Eintrag erstellen
    </button>
  </div>
</div>
