<div class="post-list">
  <div class="text-right switch-overview">
    <span
        class="glyphicon glyphicon-th-large cp" [class.active]="!showTableView"
        (click)="switchTableView(false)"
    ></span>
    <span
        class="glyphicon glyphicon-th-list cp active" [class.active]="showTableView"
        (click)="switchTableView(true)"
    ></span>
  </div>
  <div *ngIf="!showTableView">
    <div class="row">
      <div class="col-sm-6 col-lg-6 post-list-item" *ngFor="let post of posts$ | async">
        <div class="card">
          <img class="card-img-top" src="https://dummyimage.com/540x300/2b48ba/fff.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text" [innerHTML]="post?.body | nl2br"></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ post.author }}</li>
          </ul>
          <div class="card-body">
            <button
                routerLink="/posts/{{ post._id }}"
                [queryParams]="{ state: 'read'}"
                type="button"
                class="btn btn-primary"
            >
              mehr Lesen
            </button>
            <button *ngIf="isSignedIn"
                routerLink="/posts/{{ post._id }}"
                [queryParams]="{ state: 'edit'}"
                type="button"
                class="btn btn-warning"
            >
              Bearbeiten
            </button>
            <button *ngIf="isSignedIn"
                (click)="deletePost(post._id)"
                type="button"
                class="btn btn-danger"
            >
              L&ouml;schen
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showTableView">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="tblist-author cp" (click)="sort('author')">
            <span *ngIf="sortKey === '-author'"
                class="glyphicon glyphicon-chevron-up"
            ></span>
            <span *ngIf="sortKey === 'author'"
                class="glyphicon glyphicon-chevron-down"
            ></span>
            Author
          </th>
          <th class="tblist-title cp" (click)="sort('title')">
            <span *ngIf="sortKey === '-title'"
                class="glyphicon glyphicon-chevron-up"
            ></span>
            <span *ngIf="sortKey === 'title'"
                class="glyphicon glyphicon-chevron-down"
            ></span>
            Title
          </th>
          <th class="tblist-date cp" (click)="sort('updatedAt')">
            <span *ngIf="sortKey === '-updatedAt'"
                class="glyphicon glyphicon-chevron-up"
            ></span>
            <span *ngIf="sortKey === 'updatedAt'"
                class="glyphicon glyphicon-chevron-down"
            ></span>
            last edit
          </th>
          <th class="tblist-action text-right">actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts$ | async">
          <td>{{ post.author }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.updatedAt }}</td>
          <td class="text-right">
            <span
                class="glyphicon glyphicon-search cp"
                aria-hidden="true"
                routerLink="/posts/{{ post._id }}"
                [queryParams]="{ state: 'read'}"
            ></span>
            <span *ngIf="isSignedIn"
                class="glyphicon glyphicon-pencil cp"
                aria-hidden="true"
                routerLink="/posts/{{ post._id }}"
                [queryParams]="{ state: 'edit'}"
            ></span>
            <span *ngIf="isSignedIn"
                class="glyphicon glyphicon-remove cp"
                aria-hidden="true"
                (click)="deletePost(post._id)"
            ></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row post-buttons" *ngIf="isSignedIn">
  <button
      type="button"
      class="btn btn-primary"
      routerLink="/posts/new"
      [queryParams]="{ state: 'new'}"
  >
    Neuen Eintrag erstellen
  </button>
</div>
