.post-list-item {
  padding-bottom: 30px;
}

.post-list .card-text {
  text-align: justify;
}

.post-buttons {
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-buttons button {
  margin-right: 5px;
}
