.comment-table-list .cp {
  cursor: pointer;
}

table.table tr th.tblist-user {
  width: 160px;
}
table.table tr th.tblist-title {
  width: 160px;
}
table.table tr th.tblist-date {
  width: 160px;
}
table.table tr th.tblist-action {
  width: 160px;
}
